.container{
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(45deg, #AF8F6F, #74512D, #543310, #AF8F6F);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }
  @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }

  #abcd{
    text-decoration: underline;
    margin-top: 3vh;
    letter-spacing: 2px;
    font-size: 3rem;
    color: #F2EAD3;
  }

  img{
    border: 10px solid black;
    border-radius: 10px;
  }

  @media (max-width: 720px) {
    #abcd{
      font-size: 2rem;
    }
  }